h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

